@import url("normalize.css");
body {
  background-color: #ccc;
  font-family: "Playfair Display", serif; }

#hero {
  background-image: url("images/hero.jpg");
  background-size: cover;
  vertical-align: middle;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh; }

nav {
  background-color: white;
  background-image: url("images/heartglobe.png");
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-size: 37px;
  font-size: 16px;
  height: 100px;
  width: 100%;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; }
  nav ul {
    margin: 0;
    list-style-type: none;
    height: 100px;
    display: table;
    padding-left: 0; }
    nav ul li {
      display: table-cell;
      vertical-align: middle; }
      nav ul li:first-child {
        background: #ef545f; }
        nav ul li:first-child span {
          line-height: 1em !important; }
      nav ul li:nth-child(2) {
        padding-left: 10px; }
      nav ul li.active a {
        color: #ef545f; }
        nav ul li.active a:hover span {
          border-bottom: 2px solid #ef545f; }
      nav ul li a {
        display: table-cell;
        color: #83d4f6;
        text-decoration: none;
        padding: 0 24px; }
        nav ul li a span {
          line-height: 100px; }
        nav ul li a.randa {
          height: 100%;
          color: white;
          font-size: 20px;
          font-family: "Playfair Display", serif;
          line-height: 1.1em;
          width: 80px; }
          nav ul li a.randa:hover span {
            border-bottom: 0 !important; }
        nav ul li a:hover span {
          border-bottom: 2px solid #83d4f6;
          padding-bottom: 2px; }

.panel:before {
  display: block;
  content: "";
  height: 100px; }

section {
  padding: 0 100px 100px 100px; }

p {
  margin: 0;
  font-size: 17px;
  line-height: 32px;
  padding-bottom: 10px; }

.title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  display: block;
  clear: both; }
  .title.white {
    color: white; }
  .title.blue {
    color: #83d4f6;
    padding-top: 80px; }
  .title.pink {
    color: #ef545f; }

#ourstory {
  background-color: #83d4f6; }
  #ourstory a {
    color: #ef545f; }

#ourstory2 {
  background-color: #f0f0eb; }

#backimage {
  background-image: url("images/backimage.jpg");
  background-size: cover;
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

#backmap {
  background-image: url("images/maptest.jpg");
  background-size: cover;
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

#people {
  background-color: #f0f0eb; }

#info {
  background-color: #83d4f6; }

#registry {
  background-color: #f0f0eb; }

#bibleblock {
  background-color: #83d4f6;
  padding: 100px 30px; }

.pullquote {
  text-align: center;
  font-style: italic;
  font-size: 50px;
  max-width: 1100px;
  color: white;
  display: block;
  clear: both;
  margin: 0 auto; }

#ephesians {
  font-style: normal;
  display: block;
  font-size: 30px;
  padding-top: 15px;
  text-align: center;
  color: white;
  max-width: 1100px;
  margin: 0 auto; }

#ohhey {
  background-color: #83d4f6;
  background-image: url("images/footer_bg.jpg");
  height: 390px;
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat; }

#credits {
  text-align: center;
  padding: 20px;
  background-color: #53c4f3;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  text-transform: uppercase; }
  #credits a {
    color: white; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  display: table; }

.twocol {
  width: 50%;
  float: left;
  padding: 15px;
  box-sizing: border-box; }
  .twocol img {
    display: block;
    margin: auto; }

.name {
  display: block;
  font-style: italic; }

.sixcol {
  width: 16.666666667%;
  float: left;
  box-sizing: border-box;
  padding: 20px; }

.clearfix {
  clear: both; }

.gifts ul {
  margin: 0;
  list-style-type: none;
  display: table;
  font-size: 30px;
  line-height: 1.75em;
  padding: 0; }
  .gifts ul a {
    color: #83d4f6;
    text-decoration: none;
    border-bottom: 2px solid #83d4f6; }
  .gifts ul a:hover {
    color: #ef545f;
    border-bottom: 2px solid #ef545f; }

h3 {
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  margin: 0; }

.mapcontainer {
  width: 700px;
  height: 400px;
  float: left; }

.extrainfo {
  width: 300px;
  float: left;
  margin-left: 30px; }

@media (max-width: 860px) {
  .twocol {
    width: 100%;
    clear: both; }

  .sixcol {
    width: 33.333333333%; }

  nav {
    display: none; }

  #backimage, #backmap {
    background-attachment: scroll; }

  #ohhey {
    background-size: cover; }

  section {
    padding: 30px; } }
@media (min-width: 1300px) {
  #ohhey {
    width: 1300px;
    margin: 0 auto; } }
