@import url('normalize.css');

$serif: "Playfair Display", serif;
$sans-serif: "Montserrat", sans-serif;

$blue: #83d4f6;
$pink: #ef545f;
$beige: #f0f0eb;
$white: #ffffff;

body {
	background-color: #ccc;
	font-family: $serif;
}



#hero{
	background-image: url('images/hero.jpg');
	background-size: 100%;
	vertical-align: middle;
	position: relative;
	background-repeat: no-repeat;
	height: 100vh;
}

nav {
	background-color: $white;
	background-image: url('images/heartglobe.png');
	background-position:98% 50%;
	background-repeat: no-repeat;
	background-size:37px;
	font-size: 16px;
	height:100px;
	width:100%;
	text-transform:uppercase;
	font-family: $sans-serif;
	ul{
		margin:0;
		list-style-type: none;
		height:100px;
		display: table;
		padding-left: 0;
		li{
			display: table-cell;
			vertical-align: middle;
			&:first-child{
				background:$pink;
				span{
					line-height: 1em !important;
				}	
			}
			&:nth-child(2){
				padding-left:10px;
				}
			&.active {
				a{
					color:$pink;
					&:hover span{
						border-bottom: 2px solid $pink;
					} 		
				}
			}
			a {
				display:table-cell;
				color:$blue;
				text-decoration: none;
				padding: 0 24px;
				span{
					line-height: 100px;
				}
				&.randa{
					height:100%;
					color:$white;
					font-size:20px;
					font-family: $serif;
					width:80px;
					&:hover span{
						border-bottom: 0 !important;
					}
				}
				&:hover span{
					border-bottom: 2px solid $blue;
					padding-bottom: 2px
				}
			}
		}
	}
}

.panel:before {
    display:block; 
    content:""; 
    height:100px;
}

section{
	padding: 0 100px;
	&.tempheight{
		height:700px;
	}
}

p{
	margin: 0;
	font-size:17px;
	line-height:32px;
	&.last{
		padding-bottom:100px;
	}
}

.title{
	font-size:30px;
	font-family:$sans-serif;
	text-transform:uppercase;
	text-align:center;
	display:block;
	&.white{
		color:$white;
	}
	&.engagement{
		color:$blue;
		padding-top:100px;
		
	}
	&.pink{
		color:$pink;
	}
}

#ourstory{
	background-color:$blue;
}

#ourstory2{
	background-color:$beige;
}

#backimage{
	background-image: url('images/backimage.jpg');
	background-size: 100%;
	height:450px;
	background-attachment: fixed;
	background-position:center;
	background-repeat:no-repeat;
}

#backmap{
	background-image: url('images/maptest.jpg');
	background-size: 100%;
	height:450px;
	background-attachment: fixed;
}

#people{
	background-color:$beige;
}

#info{
	background-color:$blue;
}

#registry{
	background-color:$beige;
}

#bibleblock{
	background-color:$blue;
	padding:100px 30px;
}

.pullquote{
	text-align:center;
	font-style:italic;
	font-size:50px;
	max-width:1000px;
	color:$white;
	display:block;
	clear:both;
	margin:0 auto;
}

#ephesians{
	font-style:normal;
	display:block;
	font-size:30px;
	padding-top:15px;
	text-align:center;
	color:$white;
	max-width:1000px;
	margin:0 auto;
}

#ohhey{
	background-image: url('images/footer_bg.jpg');
	height:390px;
	background-size: 100%;
	background-position:center bottom; 
	background-repeat: no-repeat;
}

#credits{
	text-align:center;
	padding:20px;
	background-color:darken($blue, 10%);
	color:$white;
	font-family:$sans-serif;
	font-size:10px;
	text-transform:uppercase;
	& a{color:$white;
	}

}

.container{
	max-width:1200px;
	margin:0 auto;
	border:1px solid black;
	display:inline-block;
}

.twocol{
	width:45%;
	float:left;
	border:1px solid red;
}

.clearfix{
	clear:both;
}
